.GenBoxContainer{
    width: 635px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 3px solid grey;
    text-align: center;
}
.GenHeader{
    width: 600px;
}